*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image:linear-gradient(rgba(0, 0, 0,0.74),rgba(0, 0, 0,0.74)),url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
 .nav  {
display: flex;
align-items: center;
justify-content: space-between;
color: white;
width: 85%;
margin: auto;
padding: 35px 0;

}
#logo{
    width: 120px;
 color: white;
}
.nav ul li{
    text-transform: uppercase;
display: inline-block;
    list-style-type: none;
    margin: 0 20px;
    position: relative;
}
.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
}
.nav ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    line-height: 89px;
}
button{
    width: 200px;
    padding: 14px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid cyan;
    background: transparent;
    border-radius: 25px;
    color: white;
    position: relative;
    font-weight: bold;
}
span{
    background: cyan;
    height: 100%;
    width: 0;
    border-radius: 25px;
    left: 0;
    bottom:0 ;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
